@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../fonts/axiforma/stylesheet.css");

#main {
  background: var(--Unnamed-Color, #04011c);
}

.logo {
  background: var(
    --Unnamed-Color,
    linear-gradient(104deg, #df1cff -25.59%, #ea0070 138%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
